<div
  class="flex flex-col items-center justify-center min-h-screen px-4 py-8 bg-gray-100"
  *ngIf="game"
>
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Game ID: {{ game.id }}</h1>
  <p class="text-xl text-gray-600 mb-2">Status: {{ game.status }}</p>
  <p class="text-xl text-gray-600 mb-4">Phrase: {{ game.phrase }}</p>
  <p class="text-xl text-gray-600 mb-4">Guesses: {{ game.guesses }}</p>
  <p class="text-xl text-gray-600 mb-6">
    Remaining Guesses: {{ game.remainingGuesses }}
  </p>

  <div
    *ngIf="game.status === 'Unfinished'; else finished"
    class="flex flex-col items-center justify-center"
  >
    <input
      type="text"
      [(ngModel)]="guess"
      maxlength="1"
      placeholder="Enter a guess"
      (keydown.enter)="makeGuess()"
      class="px-4 py-2 text-lg text-center border border-gray-300 rounded-md mb-4 focus:outline-none focus:ring-2 focus:ring-green-500"
    />

    <button
      (click)="makeGuess()"
      class="px-6 py-2 text-white bg-green-500 rounded-md hover:bg-green-600 transition duration-200 ease-in-out mb-6"
    >
      Submit Guess
    </button>
  </div>
  <div
    *ngIf="errorMessage"
    class="text-white bg-red-500 px-4 py-2 rounded-md mb-4"
  >
    {{ errorMessage }}
  </div>
  <ng-template #finished>
    <h1>{{ game.answer }}</h1>
    <div
      *ngIf="game.status === 'Win'"
      class="text-2xl text-green-600 font-bold mb-4"
    >
      You won!
    </div>
    <div
      *ngIf="game.status === 'Loss'"
      class="text-2xl text-red-600 font-bold mb-4"
    >
      You lost!
    </div>
  </ng-template>
</div>
