<div class="container mx-auto px-4 mt-12">
  <div class="flex flex-col items-center gap-4">
    <app-search-bar class="w-2/3"></app-search-bar>

    <!-- Category Buttons -->
    <div class="flex gap-3 mt-4">
      <button
        class="px-4 py-2 rounded-lg bg-gray-800 text-white hover:bg-gray-700 transition-colors duration-200"
        (click)="changeCategory('now_playing')"
      >
        Now Playing
      </button>
      <button
        class="px-4 py-2 rounded-lg bg-gray-800 text-white hover:bg-gray-700 transition-colors duration-200"
        (click)="changeCategory('top_rated')"
      >
        Top Rated
      </button>
      <button
        class="px-4 py-2 rounded-lg bg-gray-800 text-white hover:bg-gray-700 transition-colors duration-200"
        (click)="changeCategory('popular')"
      >
        Popular
      </button>
    </div>
  </div>

  <!-- Loading or Error Message -->
  <div *ngIf="isLoading" class="text-center text-white mt-4">Loading...</div>
  <div *ngIf="errorMessage" class="text-red-600 text-center mt-4">{{ errorMessage }}</div>

  <!-- Movies Display -->
  <div *ngIf="!isLoading && !errorMessage">
    <h2 class="text-2xl font-bold text-white mb-4 mt-8">Movies</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div
        *ngFor="let movie of movies"
        class="flex flex-col bg-slate-900 shadow-lg rounded-lg overflow-hidden"
      >
        <!-- Image section -->
        <div class="relative w-full flex-shrink-0">
          <img
            *ngIf="movie.poster_path"
            class="w-full"
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="{{ movie.title }}"
          />

          <!-- Bookmark icon -->
          <div
            class="absolute top-2 right-2 w-12 h-12 bg-gray-500 rounded-full flex items-center justify-center cursor-pointer"
            (click)="toggleBookmark(movie)"
          >
            <svg
              *ngIf="!movie.isBookmarked"
              width="22"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                d="M5 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v18l-7-3-7 3V3z"
                stroke="#FFF"
                stroke-width="2"
              />
            </svg>
            <svg
              *ngIf="movie.isBookmarked"
              width="22"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                d="M5 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v18l-7-3-7 3V3z"
                fill="#FFF"
              />
            </svg>
          </div>
        </div>

        <!-- Content section -->
        <div class="flex flex-col flex-grow p-4">
          <div class="mb-2 flex justify-between items-center">
            <div class="flex-grow">
              <p class="text-white text-xl font-semibold truncate">{{ movie.title }}</p>
            </div>
          </div>

          <div class="flex items-center justify-between mt-auto">
            <div class="flex items-center">
              <p class="text-white text-sm ml-1">{{ movie.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
